/*
1. Posicionamiento
2. Modelo de Caja
3. Tipografía
4. Visuales o Efectos
5. Miscelaneos
*/
:root{
    /* Colores*/
    --bitcoin-orange: #f7931a;
    --soft-orange: #ffe9d5;
    --secondary-blue: #1a9af7;
    --soft-blue: #e7f5ff;
    --warm-black: #201e1c;
    --black: #282623;
    --grey: #bababa;
    --off-white: #faf8f7;
    --just-white: #fff;
}
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html{
    font-size: 62.5%;
    font-family: 'DM Sans', sans-serif;
}
header{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-width: 320px;
    height: 334px;
    text-align: center;
    background: linear-gradient(207.8deg, #201E1C 16.69%, #F7931A 100%);;
}
header img{
    width: 150px;
    height: 24px;
    margin-top: 60px;
    align-self: center;
}
.header--title-container{
    width: 90%;
    min-width: 280px;
    max-width: 900px;
    height: 218px;
    margin-top: 40px;
    text-align: center;
    align-self: center;
   
}
.header--title-container h1{

    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--just-white);
}
.header--title-container p{
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    text-align: center;
    color: var(--soft-orange);
    margin-top: 25px;
}
.header--title-container .header--button{
    position: absolute;
    left: calc(50% - 118px);
    top: 270px;
    display: block;
    margin-top: 35px;
    padding: 15px;
    width: 229px;
    height: 48px;
    background-color: var(--off-white);
    /*Sombra del Botón*/
    box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
    /*Termina Sombra*/
    border: none;
    border-radius: 5px;
    font-size: 1.4rem;
    font-weight: bold;
    text-decoration: none;
    color: var(--black);
}
.header--button span {
    display: inline-block;
    width: 13px;
    height: 8px;
    margin-left: 10px;
    background-image: url("/Assets/icons/down-arrow.svg");
}
main{
    width: 100%;
    height: auto;
    background-color: var(--off-white);
}
.main-exchange-container{
    width: 100%;
    height: auto;
    padding-top: 80px;
    padding-bottom: center;
    text-align: center;
}
.main-exchange-container--title{
    width: 90%;
    min-width: 288px
    max-width: 900px;
    margin: 0 auto;
    font-size: 1.8rem;
    color: var(--black);
}
.main-exchange-container .backgroundImg{
    width: 200px;
    height: 200px;
    margin: 0 auto;
    margin-bottom: 50px;
    background-image: url("/Assets/img/Bitcoin.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}
.main-exchange-container--title h2{
    margin-bottom: 30px;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--black)

}
.main-exchange-container--title p{
    margin-bottom: 30px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.6rem;
    color: #757575;
    padding: 15px;
}

.main-currency-table{
    width: 70%;
    min-width: 235px;
    max-width: 500px;
    height: auto;
    margin: 0 auto;
    font-family: "Inter", sans-serif;
}
.main-currency-table .currency-table--title{
    margin-bottom: 15px;
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 2.3rem;
    color: var(--bitcoin-orange);
    text-align: left;
    margin-left: 25px;
    margin-top: 15px;
}
.currency-table--container{
    width: 90%;
    min-width: 230px;
    max-width: 300px;
    height: 250px;
    margin: 0 auto;
}
.currency-table--container table {
    width: 100%;
    height: 100%;
}
.currency-table--container td {
    width: 50%;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.9rem;
    color: var(--grey);
    background-color: var(--just-white);
}
.currency-table--container .table__top-lef{
    border-radius: 15px 0 0 0;
}
.currency-table--container .table__top-right{
    border-radius: 0 15px 0 0;
}
.currency-table--container .table__botton-left{
    border-radius: 0 0 0 15px;
}
.currency-table--container .table__botton-right{
    border-radius: 0 0 15px 0;
}
.currency-table--container .table__right{
    font-size: 1.4rem;
    font-weight: normal;
    line-height: 1.7rem;
    color: #757575;
}
.main-tables-container .icon--1{
    width: 10px;
    height: 5px;
    background-image: url(/Assets/icons/trending-down.svg);
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    margin-left: 5px;
    margin-top: 5px;
    align-self: center;

}
.main-tables-container .icon--2{
    width: 10px;
    height: 5px;
    background-image: url(/Assets/icons/trending-up.svg);
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    margin-top: 5px;
    margin-left: 5px;
    align-self: center;
}
.currency-table--date{
    width: 190px;
    height: 50px;
    margin: 0 auto;
    margin-top: 15px;
    margin-bottom: 50px;    
    padding: 8px;
    border-radius: 8px;
    background-color: var(--soft-orange);
}
.currency-table--date p{
    margin: 5px;
     font-size: 1.1rem;
    color: var(--warm-black);
}
.Main__product--details{
    width: 100%;
    height: 998x;
    padding-top: 80px;
    padding-bottom: center;
    text-align: center;
    background-color: var(--warm-black);
    
}
.Main__product--details .potatoe{
    width: 100px;
    height: 60px;
    display: inline-block;
    margin-top: 35px;
    margin-left: 10px;
    background-image: url("/Assets/icons/batata.svg");
    background-repeat: no-repeat;
    background-size: cover;
    
}
.Main__product--details .Main__product--details--title h2{
    width: 90%;
    min-width: 288px
    max-width: 900px;
    margin: 0 auto;
    font-size: 2.4rem;
    color: 
}
.Main__product--details .Main__product--details--title p{
    margin-bottom: 30px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.6rem;
    color: #757575;
    padding: 15px;

}
.product__container{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.product__details{
    width: 90%;
    height: 200px;
    background-color: var(--black);
    margin-bottom: 10px;
    
}
.product__container .product__details h3{
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 18px;
    text-align: left;
    margin-left: 10px;
    margin-top: 20px;
    margin-bottom: 5px;
    color: var(--just-white);
}
.product__container .product__details p{
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 18px;
    text-align: left;
    margin-left: 10px;
    margin-top: 20px;
    margin-bottom: 10px;
    color: #757575
}