/*
1. Posicionamiento
2. Modelo de Caja
3. Tipografía
4. Visuales o Efectos
5. Miscelaneos
*/
:root{
    /* Colores*/
    --bitcoin-orange: #f7931a;
    --soft-orange: #ffe9d5;
    --secondary-blue: #1a9af7;
    --soft-blue: #e7f5ff;
    --warm-black: #201e1c;
    --black: #282623;
    --grey: #bababa;
    --off-white: #faf8f7;
    --just-white: #fff;
}
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html{
    font-size: 62.5%;
    font-family: 'DM Sans', sans-serif;
    scroll-behavior: smooth;
}
header{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-width: 320px;
    height: 334px;
    text-align: center;
    background: linear-gradient(207.8deg, #201E1C 16.69%, #F7931A 100%);
    
}
header img{
    width: 150px;
    height: 24px;
    margin-top: 60px;
    align-self: center;
}
.header--title-container{
    width: 90%;
    min-width: 280px;
    max-width: 900px;
    height: 218px;
    margin-top: 40px;
    text-align: center;
    align-self: center;
   
}
.header--title-container h1{

    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--just-white);
}
.header--title-container p{
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    text-align: center;
    color: var(--soft-orange);
    margin-top: 25px;
}
.header--title-container .header--button{
    position: absolute;
    left: calc(50% - 118px);
    top: 270px;
    display: block;
    margin-top: 35px;
    padding: 15px;
    width: 229px;
    height: 48px;
    background-color: var(--off-white);
    /*Sombra del Botón*/
    box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
    /*Termina Sombra*/
    border: none;
    border-radius: 5px;
    font-size: 1.4rem;
    font-weight: bold;
    text-decoration: none;
    color: var(--black);
    scroll-behavior: smooth;
}
.header--button span {
    display: inline-block;
    width: 13px;
    height: 8px;
    margin-left: 10px;
    background-image: url("/Assets/icons/down-arrow.svg");
}
main{
    width: 100%;
    height: auto;
    background-color: var(--off-white);
}
.main-exchange-container{
    width: 100%;
    height: auto;
    padding-top: 80px;
    padding-bottom: center;
    text-align: center;
}
.main-exchange-container--title{
    width: 90%;
    min-width: 288px
    max-width: 900px;
    margin: 0 auto;
    font-size: 1.8rem;
    color: var(--black);
}
.main-exchange-container .backgroundImg{
    width: 200px;
    height: 200px;
    margin: 0 auto;
    margin-bottom: 50px;
    background-image: url("/Assets/img/Bitcoin.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}
.main-exchange-container--title h2{
    margin-bottom: 30px;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--black)

}
.main-exchange-container--title p{
    margin-bottom: 30px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.6rem;
    color: #757575;
    padding: 15px;
}

.main-currency-table{
    width: 70%;
    min-width: 235px;
    max-width: 500px;
    height: auto;
    margin: 0 auto;
    font-family: "Inter", sans-serif;
}
.main-currency-table .currency-table--title{
    margin-bottom: 15px;
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 2.3rem;
    color: var(--bitcoin-orange);
    text-align: left;
    margin-left: 25px;
    margin-top: 15px;
}
.currency-table--container{
    width: 90%;
    min-width: 230px;
    max-width: 300px;
    height: 250px;
    margin: 0 auto;
}
.currency-table--container table {
    width: 100%;
    height: 100%;
}
.currency-table--container td {
    width: 50%;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.9rem;
    color: var(--grey);
    background-color: var(--just-white);
}
.currency-table--container .table__top-lef{
    border-radius: 15px 0 0 0;
}
.currency-table--container .table__top-right{
    border-radius: 0 15px 0 0;
}
.currency-table--container .table__botton-left{
    border-radius: 0 0 0 15px;
}
.currency-table--container .table__botton-right{
    border-radius: 0 0 15px 0;
}
.currency-table--container .table__right{
    font-size: 1.4rem;
    font-weight: normal;
    line-height: 1.7rem;
    color: #757575;
}
.main-tables-container .icon--1{
    width: 10px;
    height: 5px;
    background-image: url(/Assets/icons/trending-down.svg);
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    margin-left: 5px;
    margin-top: 5px;
    align-self: center;

}
.main-tables-container .icon--2{
    width: 10px;
    height: 5px;
    background-image: url(/Assets/icons/trending-up.svg);
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    margin-top: 5px;
    margin-left: 5px;
    align-self: center;
}
.currency-table--date{
    width: 190px;
    height: 50px;
    margin: 0 auto;
    margin-top: 15px;
    margin-bottom: 50px;    
    padding: 8px;
    border-radius: 8px;
    background-color: var(--soft-orange);
}
.currency-table--date p{
    margin: 5px;
     font-size: 1.1rem;
    color: var(--warm-black);
}
.Main__product--details{
    width: 100%;
    height: 998x;
    padding-top: 80px;
    padding-bottom: center;
    text-align: center;
    background-color: var(--warm-black);
    position: relative;
    
}
.Main__product--details .potatoe{
    position: absolute;
	top: calc(0% - 12.5px);
	left: calc(50% - 20px);
    width: 40px;
    height: 25px;
    display: inline-block;
    background-image: url("/Assets/icons/batata.svg");
    background-repeat: no-repeat;
    background-size: cover;  
        
}
.Main__product--details .Main__product--details--title h2{
    width: 90%;
    min-width: 288px
    max-width: 900px;
    margin: 0 auto;
    font-size: 2.4rem;
    color: var(--just-white);
}
.Main__product--details .Main__product--details--title p{
    margin-bottom: 30px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.6rem;
    color: #757575;
    padding: 15px;

}
.product__container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product__details .icon--3{
    display: flex;
    align-self: right;
    padding: 0;
    margin: 0 auto;
    margin-left: 10px;
}
.product__details{
    width: 100%;
    max-width: 250px;
    min-height: 150px;
    background-color: var(--black);
    margin-bottom: 5px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.16);
}
.product__container .product__details h3{
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 18px;
    text-align: left;
    margin-left: 10px;
    margin-top: 20px;
    margin-bottom: 5px;
    color: var(--just-white);
}
.product__container .product__details p{
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 18px;
    text-align: left;
    margin-left: 10px;
    margin-top: 20px;
    margin-bottom: 10px;
    color: #757575
}
.product__details:hover{
    border: solid;
    border-color: var(--bitcoin-orange);
    padding: 0;
}
.Bitcoin-img-container{
    width: 100%;
    height: 400px;
    background-image: url(/Assets/img/bitcoinbaby.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
} 
.Bitcoin-img-container h2 {
    padding-top: 60px;
    width: 288px;
    min-width: 320px;
    line-height: 2.6rem;
    height: 50vh;
    display: flex;
    justify-content: center;
    font-size: 2.4rem;
    color: var(--just-white);
    font-weight: bold;
    
}
.Plans{
    width: 100%;
    min-width: 320px;
    background-color: #E5E5E5;
    padding-bottom: 70px;
    text-align: center;

}
.Main__Plans--title {
    
    width: 90%;
    min-width: 288px;
    height: auto;
    margin: 0 auto;
    padding: 50px 0;
    
}
.Plans .Main__Plans--title h2{
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--black);
}
.Plans .Main__Plans--title p{
    padding-top: 30px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: #757575;

}
.plans-container-slider{
    display: flex;
    height: 316px;
    overflow-x: scroll;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;
    
    
}
.plans-cards{
    scroll-snap-align: center;
    width: 70%;
    min-width: 200px;
    max-width: 250px;
    height: 250px;
    padding: 20px;
    background-color: var(--off-white);
    border-radius: 10px;
    position: relative;
    margin: 20px 20px;
    
}
.recomendado{
    position: absolute;
    width: 120px;
    height: 31px;
    top: -15px;
    left: calc(50% - 60px);
    font-size: 1.2rem;
    font-weight: bold;
    line-height: 1.4rem;
    padding: 7px;
    background-color: var(--bitcoin-orange);
    border-radius: 8px;
    color: var(--just-white);
   
}
.plan-card--title{
    padding-top: 10px;
    font-size: 1.4rem;
    font-weight: bold;
    line-height: 1.8rem;
    color: var(--black);
    margin-left: 12px;
    margin-bottom: 10px;
    
}
.plan-card--price{
    padding: 5px 0;
    font-size: 5.2rem;
    font-weight: bold;
    line-height: 6.2rem;
    color: var(--black);
    font-family: 'Inter', sans-serif;
}

.icon--4 img{
    width: 20px;
    height: 15px;
    background-repeat: no-repeat;
    vertical-align: text-top;;
   
}
.plan-card-saving{
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.4rem;
    text-align: center;
    color: #757575;
    padding: 10px;

}
.plan-card--ca{
    width: 151px;
    height: 48px;
    top: 2792px;
    left: 85px;
    border-radius: 4px;
    padding: 12 16;
    border: solid;
    border-color: var(--bitcoin-orange);
    background-color: #E5E5E5;

}
.plan-card--ca p{
    font-weight: bold;
    font-size: 1.4rem;
    color: var(--black);
    line-height: 1.8rem;
    text-align: left;
    margin-left: 20px;
}
.plan-card--ca p .vector{
    display: inline-flex;
    width: 20px;
    height: 14px;
    background-image: url(/Assets/icons/orange-right-arrow.svg);
    background-position: right;
    background-repeat: no-repeat;
    position: absolute;
    padding: 5px;
    margin: 2px 5px 5px 10px ;
}
.footer{
    display: flex;
    width: 100%;
    min-width: 320px;
    min-height: 150px;
    max-height: 200px;
    background-color: var(--bitcoin-orange);
}
.footer  section {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer ul{
    font-size: 1.4rem;
    font-weight: 500;
    color: var(--just-white);
    margin-bottom: 5px;
    
}
.footer li{
    list-style: none;
    margin: 10px 0;
}